body, body *{
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Work Sans', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FAFAFA ;

}

.container {
  display: flex; /* or inline-flex */
}

h2{
  font-family: 'Secular One';
  font-weight: bold;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "Secular One";
  src: url("images/SecularOne-Regular.ttf");
  src:
  url("images/secularone-regular-webfont.woff") format("woff"),
  url("images/secularone-regular-webfont.woff2") format("woff2"),
  }

@media all and (min-width: 1500px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .dd .nav-link  { color: rgb(102, 5, 5);  width: 300px; }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
  .navbar .nav-item .dropdown-menu{ margin-top:0;}
  .animate {
    animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
  }
}	

@keyframes slideIn {
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
  100% {
    transform:translateY(0rem);
    opacity: 1;
  }
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
}

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: transform;
    -webkit-opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    -webkit-opacity: 1;
  }
  0% {
    -webkit-transform: translateY(1rem);
    -webkit-opacity: 0;
  }
}

.slideIn {
  -webkit-animation-name: slideIn;
  animation-name: slideIn;
}

.card {
  display: flex;
  padding: 2vh 2vh 2vh 2vh;
  border: none;
  border-radius: 10px;
  margin-top: 1%;
  margin-bottom: 1%;
  max-width: 60%;
  max-height: 50%;
}